.App {
    --header_height: 60px;
}

.hw {
    margin: 40px;
}

.hwTitle {
    padding-top: 107px;
    width: 165px;
    height: 27px;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26.82px;
}