.sendForm {
    width: 43px;
    height: 20px;
    top: 418px;
    left: 1128px;
    color: #0066CC;
}

.textarea {
    width: 976px;
    height: 40px;
    top: 408px;
    left: 70px;
    border-radius: 20px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
}

.button:hover {

}
.button:active {

}
